* 
{
    box-sizing: border-box;
}

html 
{
    font-size: 14px;
}

/*................................clearfix...........................................*/
.clearfix:after 
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/* .clearfix 
{
	display: inline-block;
} */

/* start commented backslash hack \*/

* html .clearfix 
{
	height: 1%;
}

.clearfix 
{
	display: block;
}


/*  -------------- Dar vienas visa "body" (visą puslapį) apimantis rėmelis ----------------------------- */

body 
{
    min-height: 100vh;
    background-color: #F5F5F5;
    font-family: 'Libre Baskerville', 'san-serif';

    /* border: 4px solid black; */
}

/* ------------------- Kaip suprantu čia yra "a" stiliaus aprašymas ------------------------------------ */
a 
{
    text-decoration: none;

    /* border: 4px solid red; */
}

/* ---------------------------- Visas "conteineris", t.y. rėmelis aplink puslapį --------------------------- */

.container 
{
    max-width: 102.86rem;
    margin: auto;
    text-overflow: clip;
    overflow: hidden;

    /* border: 4px solid violet; */
}

/* ---------------------------------  PAGRINDINĖS VIRŠUTINĖS NUOTRAUKOS STILIUS --------------------  */

/*  ------------------ Visas viršutinis "blokas" su navigacija ir 'Premium' užrašų ---------------------- */

header 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 45.7142rem;
    background-image: linear-gradient(rgba(197, 49, 99, 0.83), rgba(197, 49, 99, 0.83)), url("../img/header-fonas.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat no-repeat;
    overflow: hidden;
    padding-bottom: 2.86rem;

    /* border: 2px solid black; */
}

/* ------- Didelis rėmelis su užrašų "Premium Quality & Tradition" ir zemiau "SINCE 1978" kartu ----------- */
.box8 
{
    display: flex;
    flex-direction: column;
    padding: 70px;
    align-items: center;
    font-size: 1.6rem;
    color: aliceblue;

    /* border: 4px dashed violet; */
}

/*  ---------------------- "SINCE 1978" Užrašo langelis/rėmelis -----------------------------  */
.box8> p 
{
    font-style: italic;
    padding: 0;

    /* border: 4px dashed white; */
}

/*  ------------------------- Po "SINCE 1978" Užrašo žemiau rodyklė i apačią (arrow-down) --------------  */

/* .head-img:last-child  */  /* atrodo, kad niekas nesikeičia*/

.head-img
{
    width: 2.57rem;
    height: 2.57rem;
    /* box-shadow: inset 0px 0px 6px 0px black; */

    /* border: 2px solid black; */
}

/*  ---------------------------------- viršutinė navigacija ----------------------------  */

/*          Viršutinės navigacijos "blokas", iki Užrašo "Premium Quality & Tradition" */

#nav-bar 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6.86rem;
    padding-left: 6.86rem;
    padding-right: 6.86rem;

    /* border: 2px solid blue; */
}

/*  ------------- TOP-CONTAINER ---------- Viršutinės navigacijos dežutė-div'as su aprašymu --------------------------------------- */

.top-container 
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 30px 30px 30px;
    font-size: 14px;
    font-family: 'Libre Baskerville', san-serif;

    /* border: 3px dashed red; */
}

/* ------------------------ Navigacijos "List" taškų "pašalinimas" ---------------------------------- */

.top-container nav ul
{ 
    list-style: none;

    /* border: 1px double green; */
}

/*  ------------------- Tarpeliai tarp nav meniu nuorodų (home, about us, social ir contact)
  ---------------- */

.top-container a 
{
    margin: 4px;
    color: white;

    /* border: 2px double green; */
}

/* ---------------------  Hover'is viršutinei nav menu (dešinėje viršuje) ---------------- */

.top-container a:hover
{
    position: relative;
    background-color: green;
    z-index: 1;
    opacity: 0.8;

    /* border: 5px dashed red; */
}

 /* -----------------  pranyksta prie 767px didesnis rėmelis aplink top menu nuorodas ---------------------- */

@media screen and (min-width: 767px) 
{
.nav-collapse 
    {
        float: right;
        width: auto;

        /* border:2px dashed blueviolet; */
    }
}

/* ------------------- navigacijos rėmelis nepranyksta?... --------------------------------------------- */

.nav-collapse li 
{
    float: left;
    width: 100%;

    /* border: 2px dashed red; */
}

  /* ---------Rėmelis, mažesnis aplink menu (home,aboutUs,social,contact) mažinant, prie 767px pranyksta ------- */

@media screen and (min-width: 767px) 
{
    .nav-collapse li 
    {
      width: auto;

    /* border: 2px dashed white; */
    }
}

  /* ---------------------  NAV TOGGLE STYLES -----------------------------------*/

@font-face 
{
    font-family: "responsivenav";
    src:url("../icons/responsivenav.eot");
    src:url("../icons/responsivenav.eot?#iefix") format("embedded-opentype"),
        url("../icons/responsivenav.ttf") format("truetype"),
        url("../icons/responsivenav.woff") format("woff"),
        url("../icons/responsivenav.svg#responsivenav") format("svg");
    font-weight: normal;
    font-style: normal;
}

.nav-toggle 
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    text-indent: -300px;
    position: relative;
    overflow: hidden;
    width: 60px;
    height: 55px;
    float: right;
}

.nav-toggle:before 
{
    color: #fff;                            /* Edit this to change the icon color */
    font: normal 28px/55px "responsivenav";   /* Edit font-size (28px) to change the icon size */
    text-transform: none;
    text-align: center;
    position: absolute;
    content: "\2261";                        /* Hamburger icon */
    text-indent: 0;
    width: 100%;
    left: 0;
    top: 0;
}

.nav-toggle.active:before 
{
    font-size: 24px;
    content: "\78";                            /* Close icon */

    /* border: 4px solid white; */
}

/* ----------------- Viršutinės, kairėje iconėlės rėmelis  ---------------------------------- */

#nav-bar img 
{
    width: 2.86rem;
    height: 2.86rem;

    /* border: 4px solid white; */
}

/*  ------------- "pilnas" langelis Viršutinės navigacijos iconos su nuorodom  ------------------------- */

#nav-bar li 
{
    display: inline-block;

    /* border: 1px solid blue; */
}

/*  ------------ Viršutinės navigacijos 'icona' ir HOME ABOUT US SOCIAL CONTACT užrašai  ---------------- */
#nav-bar a 
{
    text-decoration: none;
    line-height: 1.28rem;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    margin-left: 1.43rem;
    margin-right: 1.43rem;

    /* border: 3px solid red; */
}

#nav-bar a:hover 
{
    text-decoration: underline;
}

/* ------------------- 1. SHOWCASE:  TRIJŲ nuotraukų tvarkymas arba 2-a dalis  ------------------------------  */

/*  ---------------- "MEET OUR TEAM" ir Trijų žmonių nuotraukų visas 2 (antras) blokas  --------------------- */

.showcase 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #FFFFFF;
    padding-top: 4.2857rem;
    padding-bottom: 4.0714rem;

    /* border: 5px solid yellow; */
}

/*  ---------------------------------  "Meet Our Team" užrašas  ----------------------------------------------------- */

.showcase h2
{
    font-size: 5rem;
    letter-spacing: 0.006rem;
    margin: 0rem;

    /* border: 1px solid orange; */
}

/*  ---------------------------------  linija po "Meet Our Team" užrašų ---------------------------------------------  */

.showcase>img 
{
    margin-top: 1.5rem;
    margin-bottom: 4.36rem;

    /* border: 4px double blue; */
}

.showcase> card 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    /* border: 7px solid red; */
}

/*  ---------------------- nuotraukų blokas, div, box'as juodas apvadas stačiakampis, iki 1150px  -------------------*/

.box 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 24rem;
    margin: 0 10px;
    text-align: center;
    height: auto;
    margin-bottom: 15px;

    /* border: 2px solid red; */
}

/* ------ 3 žmonių nuotraukų geltonas apvalus rėmelis nuo "pilno lango", iki 1150px -----------------  */

.box img 
{
    border-radius: 50%;
    width: 20rem;
    height: 20rem;

    /* border: 5px dashed yellow; */
}

/* ------ 3 nuotraukos "dashed" linija (stačiakampis rėmelis aplink žmonių Vardus ir pavard.)  ------- */

.box h3
{
    font-size: 2rem;
    font-weight: bolder;
    /* color: #333333; */

    /* border: 2px dashed green; */
}

/*  ----- 3 žmonių nuotraukų aprašymo tekstas įrėmintas į punktyrinį stačiakampį (nepranykstantis)  ---- */

.box p
{
    font-family: Libre-Baskerville;
    font-size: 1rem;
    padding-left: 1.4286rem;
    padding-right: 1.4286rem;
    font-style: italic;
    color: rgba(51, 51, 51, 0.5);
        text-align: left;

    /* border: 2px dashed red; */
}

/*  ---------------------------- 'Padariau' trijų žmonių nuotraukų "hover'į"  ----------------------------------- */

.box10 a:hover
{
    position: relative;
    background-image: linear-gradient(rgba(49, 197, 148, 0.83), rgba(19, 40, 228, 0.83));
    z-index: 1;
    opacity: 0.6;
    border-radius: 50%;
}

/* --------------- 3 ŽMONIŲ NUOTRAUKOS su media query  --------------------------------------------------------  */

@media only screen and (max-width: 1150px)
{
    /* ---------- Apvalus rėmelis aplink nuotraukas atsiranda nuo 1150 ir mažinant būna iki 900px  ------------- */
    .box img 
    {
        width: 17rem;
        height: 17rem;
        margin-top: 10px;

        /* border: 3px solid blue; */
    }
}

@media only screen and (max-width: 900px)

/* ------------  vertikalus 3 nuotraukų rėmelis atsirandantis nuo 900 px ir mažinant būna iki galo  ---------- */
{
    .box-images
    {
        flex-direction: column;

        /* border: 5px double black; */
    }

    /* ----------- 3 nuotraukos nuo 900px mažinant, apvali "dashed" linija aplink nuotraukas ------------------ */
    .box img 
    { 
        width: 12rem;
        height: 12rem;

    /* border: 3px dashed black; */
    }

    /* --- Atsiranda mažinant nuo 900px, stačiakampis rėmelis, "dashed" linija aplink nuotraukas su tekstu ---- */
     .box 
    {
        height: auto;
        margin-bottom: 15px;

    /* border: 3px dashed yellow; */
    }
}

/* ---------------  2. SHOWCASE-2:  Trečia dalis su 6 nuotraukomis  ------------------------ */

/* ----  Visas 'Trečias "blokas"(sekcija)' su 'slider' 6-iomis nuotraukomis (oranžinis punktyras)  ------------ */

.showcase2
{
    padding-top: 2rem;
    padding-bottom: 4.23rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    align-items: center;

    /* border: 3px dashed orange; */
}

/*  ------ "Slider'io" nuotraukų ir "Contact Us" su formos rėmelis įrėminimas  ------------- */

.row 
{
    display: flex;
    justify-content: center; 

    /* border: 1px dashed black; */
}

.row.slider {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

/* --------- "FOLLOW US ON INSTAGRAM" stačiakampio/langelio/mygtuko įrėminimas dviguba oranžine linija  ------------- */

.btn 
{
    width: 21rem;
    height: 4.14rem;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 0px #DCDCDC;

    /* border: 7px double orange; */
}

/* ------------ "FOLLOW US ON INSTAGRAM" ikonos įrėminimas punktyriniu kvadratu  ------------ */

.btn i
 {
    font-size: 1.57rem;
    margin-right: 1.43rem;

    /* border: 3px dashed blueviolet; */
}

/* ----- "Send" mygtuko stačiakampis langelis su raudona punktyrine linija ----------------------------------------- */
.send_btn 
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    width: 32.21rem;
    height: 4.29rem;
    font-family: Libre Baskerville;
    font-weight: bold;
    font-size: 1.43rem;
    letter-spacing: 0.03rem;

    /* border: 5px dashed red; */
}

/* ---  "slider'io" irėminimo stačiakampis (oranžinis punktyras) su šoniniais 'arrow-right' ir 'arrow-left'  --------- */
/* atsiranda nuo 1150px  */

.slider
{
    display: flex;
    width: 1000px;

    /* border: 3px dashed orange; */
}



/*  --------------------------  Įdedame media query SLIDER'iui ---------------------------------------------------------------- */
/* ---- Punktyrinis raudonas stačiakampis atsiranda aplink "slider" nuo 1150px ir lieka iki 'galo'  --------------- */

@media only screen and (max-width: 1150px)
{
    .slider
    {
        width: 600px;

    /* border: 3px dashed red; */
    }
}

/* ------  Dvigubas rėmelis aplink 'sliderį' su kairiu ir dešiniu 'arrow', tik nuo 322px ir mažiau  ----------- */

  @media only screen and (max-width: 640px)
{
    .slider
    {
        width: 322px;

    /* border: 3px double #3B5998; */
    }
}
  
/* --------------------  Dvigubas geltonas rėmelis aplink 'sliderio-swiperio' nuotraukas ---------------------------- */

.swiper-container
{
    width: 80%;

    /* border: 4px double yellow; */
}

/*  ---------- Dvigubas mėlynas rėmelis įrėmina abi : kairį ir dešinį "arrow" abipus 'sliderio' nuotraukų  ---------- */

.showcase2 img 
{
    width: 13.71rem;
    height: 13.5rem;

    /* border: 4px double blue; */
}

/* -------------- Dvigubas mėlynas rėmelis (kvadratas) aplink 'sliderio' nuotraukas  ---------------------------- */

.showcase2-card
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14.29rem;
    width: 14.29rem;
    background-color: #FFFFFF;
    margin: 1.43rem;
    box-shadow: 0px 2px 0px #DCDCDC;
    border-radius: 4px;

    /* border: 4px double blue; */
}

/* ----------- Atsiranda punktyrinis nuotraukų 'sliderio' įrėminimas, "užvedus" "pelę"  ------------------------------ */

.showcase2-card:hover
{
    position: relative;
    background-image: linear-gradient(rgba(197, 49, 99, 0.83), rgba(197, 49, 99, 0.83));
    z-index: 1;

    /* border: 5px dashed red; */
}

/* ---------------- Punktyrinis nuotraukų 'sliderio' įrėminimas, kai "užvedi" "pelę"  ------------------------------------ */
/* ------  Užkrauna antrąkart dar "riebiau" rėmelį ant rėmelio, tik daugiau 'viduje'  ---------------------------- */

.select:hover 
{
    position: absolute;
    z-index: 2;

    /* border: 7px dashed yellow; */
}



/* ------- Dar vienas "FOLLOW US ON INSTAGRAM" langelio įrėminimas juoda punktyrine linija  -------------------------------- */
/* ------------------- ICON'os stilius  ------------------------------------------------- */

.wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21rem;
    height: 4.09rem;
    background-color: #FFFFFF;
    margin-top: 4.23rem;

    /* border: 7px dashed black; */
}

.wrapper p 
{
    margin: 0;
}

/* ----------------- 3. SHOWCASE-3:  pradedu nuo žemėlapio su emailu ---------------------- */

/* ------------- Viso 4-o bloko "įrėminimas" 'riebia' juoda punktyrine linija  ------------ */

.showcase3
{
    background-color: #C53163;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 7rem;

    /* border: 7px dashed black; */
}

/* ------------- "Contact Us" div'as, Užrašo langelis (raudona punktyrinė linija) ------------------------------------------- */
.showcase3 h2
{
    font-size: 2.5rem;
    margin: 1rem;
    padding-top: 4.3rem;
    text-align: center;
    letter-spacing: 0.006rem;
    color: white;

    /* border: 5px dashed red; */
}

.showcase3 h2 :hover 
{
    position: relative;
    background-color: rgb(49, 67, 238);
}

/*  ----- Formos ir žemėlapio langelių (2 div) įrėminimas (raudona punktyrine linija)  ------------------------------ */

.showcase3-card 
{
    margin: 1.46rem;
    height: 25.71rem;

    /* border: 5px dashed red; */
}

/* -------  Užrašo, po žemėlapio, įrėminimas (raudona punktyrine linija)  ------------------------------------------- */

.showcase3-card p 
{
    padding-top: 0.6rem;
    font-style: italic;
    line-height: 1.86rem;
    font-size: 1.28rem;
    text-align: center;
    letter-spacing: 0.4px;
    color: #FFFFFF;

    /* border: 5px dashed red; */
}

/* -- Prie 1150px 'atsiranda' (iki "galo", mažinant ) punktyrinis įrėminimas (vertikalus) formos su žemėlapiu  ---- */

@media only screen and (max-width: 1150px)
{
    .showcase3 div.row 
    {
        flex-direction: column;

        /* border: 4px dashed blueviolet; */
    }
}

/* -- atsiranda du atskiri geltoni, punktyriniai įrėminimai, "input" formai ir žemėlapiui, nuo 0 iki 500px  ----- */

@media only screen and (max-width: 500px)
{
    .showcase3-card
    {
       width: calc(100% - 20px);     /* Paskaičiuojame plotį kitaip--- <---------------- */

        /* border: 3px dashed yellow; */
    }

   /* --  Formos įrėminimas Žalia punktyrine linija, visi 3 inputai su "Send" mygtuku, nuo 0 iki 500px  -- */

    .showcase3-card .myForm
     {
        width: 100%;

        /* border: 5px dashed green; */
    }


    /* ---  Žalia punktyrinė linija aplink žemėlapį, nuo 0 iki 500px; ----------------------  */

    .showcase3-card .iframe, .showcase3-card .mapouter, .showcase3-card .gmap_canvas
    {
       width: 300px;

       /* border: 5px dashed green; */
    }

    /* ------  Žalia punktyrinė linija aplink "Send" mygtuko langą, nuo 0 iki 500px;  -------- */
   
   .showcase3-card .send_btn 
    {
        width: 200px;

        /* border: 5px dashed green; */
    }

    /* ------  Žalia punktyrinė linija aplink visą formą + žemėlapis,nuo 0 iki 500px; stačiakampis i viršų ---------  */

   .showcase3 div.row 
    {
        width: 100%;

        /* border: 5px dashed green; */
    }

    /*  ----- Žalia punktyrinė linija aplink žemėlapį, nuo 0 iki 500px; (be Užrašo)  -------------------------------- */

    .showcase3-card .mapouter 
    {
        margin: 0 auto;

        /* border: 5px dashed green; */
    }
}

/* -------  Žalia punktyrinė linija aplink žemėlapį, nuo 0 iki 350px; (be Užrašo)  ------------------------------ */

@media only screen and (max-width: 350px)
{
    .showcase3-card .iframe, .showcase3-card .mapouter, .showcase3-card .gmap_canvas
    {
       width: 270px;

        /* border: 5px dashed green; */
    }
}

/* ------  Žalia punktyrinė linija aplink žemėlapį ir forma nuo 0 iki 350px; (be Užrašo) stačiai  ---------------*/

@media only screen and (max-width: 370px)
{
    .showcase3-card
    {
        margin-left: 0!important;
        margin-right: 0!important;

        /* border: 5px dashed green; */
    }
}

/*  ------------- Čia nežinau kas buvo įrašyta?  ------------------------------------- */
  @media only screen and (max-width: 640px)
{
    .slider
    {
        width: 322px;

        /* border: 3px double #3B5998; */
    }
}




/* ----- Po "Contact Us" "underline" linijos (div) langelis (raudona punktyrine linija) ----------------------------- */

.undeline 
{
    width: 8.5rem;
    padding-bottom: 5.71rem;

    /* border: 5px dashed red; */
}




/*  ----------- pradedu bandymus su query apatine dalimi ----------------------------------- ---------------------- */
/*       Ketvirtas blokas įrėmintas ( raudona punktyrine linija ) nuo 0 iki 1150px; */

@media only screen and (max-width: 1150px)
{
    body 
    {
        background-color: rgb(91, 197, 49);
    }
    .showcase3 {
        height: auto;
        width: auto;

        /* border: 5px dashed red; */
    }
}

/* -------- Visas puslapio blokas įrėmintas ( raudona punktyrine linija ) nuo 0 iki 900px; -------------------------- */

@media only screen and (max-width: 900px)
{
    body 
    {
        background-color: rgb(173, 177, 230);

        /* border: 5px dashed red; */
    }
}

/* -------- Visas puslapio blokas įrėmintas ( raudona punktyrine linija ) nuo 0 iki 322px; -------------------------- */

@media only screen and (max-width: 322px)
{
    body 
    {
        background-color: lightblue;

        /* border: 5px dashed red; */
    }
}

/* ------- Visas formos turinys (visi inputai) + "Send" mygtukas, įrėminti kvadratu su r. punkt. linija --------------- */
.myForm 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 32.22rem;

    /* border: 5px dashed red; */
}

.map 
{
    padding-right: 17.79rem;
    height: 32.21rem;
    width: 20rem;
}

/* ----------------------- SHOWCASE-4 -------------------------------------------------- */

/* -------- Apatinis nav. blokas ( Home, About Us, Social, ...) įrėminti raudona punktyrine linija ------------------- */

.showcase4 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #333333;
    height: 15.93rem;
    width: 100%;
    color: white;
    padding: 1rem;

    /* border: 5px dashed red; */
}

/* ------------------------------ FOOTER NAV ------------------------------------------------------------------------- */

/* ------- Visi apatinės (5-dalies) nav. užrašai ir iconos langeliuose, įrėmintuose raudona punktyrine linija -------- */

.showcase4 a 
{
    color: white;

    /* border: 5px dashed red; */
}

/* ------ Trijų formos inputų langeliai, įrėminti raudona punktyrine linija, kiekvienas langelis atskirai ----------- */

input, textarea 
{
    width: 100%;
    height: 4.29rem;
    border: 1px solid #ccc;
    resize: vertical;
    margin-top: 0.71rem;
    margin-bottom: 0.71rem;
    padding-left: 2.14rem;
    font-size: 1.43rem;
    color: #DCDCDC;

    /* border: 5px dashed red; */
}

/* ------- "Message" langelis (input), įrėmintas raudona punktyrine linija  --------------------------------------- */

textarea 
{
    padding-top: 1.21rem;

    /* border: 5px dashed red; */
}

/* --------- 1. "Hover" 'veikimas'.Užvedus "pelę", atsiranda raudona punktyrinė linija ---------------------------- */
/* --------- 2. Visų formos input'u langelių  įrėmintuose, atskirai, raudona punktyrinė linija ------------------------ */

input:hover, textarea:hover, input:focus, textarea:focus
{
    color: black;

    /* border: 5px dashed red; */
}

/* -----------------  Mygtuko 'apipavidalinimas' -------------------------------------------------------------------------- */

input[type=submit] 
{
    background-color: #333333;
    width: 32.21rem;
    height: 4.29rem;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

#mrg 
{
    margin-top: 0rem;
}

.mapouter p 
{
    text-align: left;
}

/*  -------------- "Message" input'o langelio įrėminimas raudona punktyrinė linija  ------------------------------- */

textarea 
{
    width: 100%;
    height: 8.57rem;
    margin-top: 0.71rem;
    margin-bottom: 1.43rem;

    /* border: 5px dashed red; */
}



/* ------------------  Langeliai aplink apatinę nav. su užrašais (home,about us,social ir facebook icon,twiter icon,...)  ---------------- */
/*  ------------------ Kiekvienas langelis atskirai įrėmintas raudona punktyrine linija  --------------------------- */

.footer-nav li 
{
    margin: 1.43rem;
    display: inline-block;
    color: white;

    /* border: 5px dashed red; */
}

/* ---------------------- Visų apatinės nav. langelių viename įrėminimas raudona punktyrine linija  ----------------- */
/* ---------------------  tik nav. langelių su užrašais (home, About us, Social, Contact ir icon)  ----------------- */

.footer-nav ul 
{
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 2.15rem;

    /* border: 5px dashed red; */
}

/* --------------------- Visų apatinės nav. langelių viename įrėminimas raudona punktyrine linija  ------------------ */
/* --------------------- Tik icon'u be užrašų  kiekvienos (icon-keturios) langelio atskirai įrėminimas  ------------ */

.icon 
{
    margin-left: 1.36rem;
    margin-right: 1.36rem;

    /* border: 5px dashed red; */
}

/* ------------ "Logo", kuri yra tarp apatinės nav. užrašų (Home,About us,...), per viduri, įrėminimas -------------- */

.logo 
{
    height: 2.86rem;
    width: 2.86rem;
    margin-left: 1.43rem;
    margin-right: 1.43rem;

    /* border: 5px dashed red; */
}

.main-nav li 
{
    margin-right: 1em;
}

/* -------------- "footer'io", viso paskutinio bloko įrėminimas, raudona punktyrinė linija  ----------------------- */

#footer 
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E2E2E;
    display: flex;
    height: 2.86rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.199474);
    font-size: 10px;

    /* border: 5px dashed red; */
}

/* --------------Visų nav igacijos užrašų (HOME,ABOUT US,SOCIAL,CONTACT) įrėminimas nuo (768px iki 1024px)    ------------ */

@media  (min-width: 768px) and (max-width: 1024px)
{
    header nav,
    header nav li,
    footer-nav,
    .showcase4
    {
        float: none;
        text-align: center;
        width: 100%;

        /* border: 5px dashed red; */
    }

    /* ------------- Viso pirmo bloko įrėminimas nuo (768px iki 1024px), raudona punktyrine linija  ----------------- */

    header
    {
        padding-bottom: 1.43rem;

        /* border: 5px dashed red; */
    }
}

/* ----------- Visų navigacijos užrašų įrėminimas nuo (481px iki 767px), raudona punktyrine linija ---------------- */

@media  (min-width: 481px) and (max-width: 767px)
{
    header nav,
    header nav li,
    footer-nav,
    .showcase4

    {
        float: none;
        text-align: center;
        width: 100%;
        font-size: 20px;

        /* border: 5px dashed red; */
    }

    /* -------------- Viso pirmo bloko (HEADER), įrėminimas nuo (481px iki 767px) raudona punktyrine linija  ---------------------- */

    header
    {
        padding-bottom: 1.43rem;

        /* border: 5px dashed red; */
    }
}

/* -------------- Visų navigacijos užrašų įrėminimas nuo(320px iki 480px) raudona punktyrine linija  ----------------- */

@media  (min-width: 320px) and (max-width: 480px)
{
    header nav,
    header nav li,
    showcase3-card,
    footer-nav,
    .showcase4
    {
        float: none;
        text-align: center;
        width: 100%;
        font-size: 24px;

        /* border: 5px dashed red; */
    }

    /* ------------ Viso pirmo bloko įrėminimas nuo 320px iki 480px, raudona punktyrine linija  --------------------- */

    header
    {
        padding-bottom: 1.43rem;

        /* border: 5px dashed red; */
    }
}
    
/* -- Instagramos mygtuko (follow us on ... "hover'is", užvedus "pele" pasikeičia spalva ----- */

 .showcase2 a.wrapper:hover
{
    position: relative;
    background-image: linear-gradient(rgba(197, 49, 99, 0.83), rgba(189, 228, 19, 0.83));
    z-index: 1;
    opacity: 0.7;

    /* border: 5px dashed red; */
}

/*  ----------------------- Footer'io nav. icon'os  ----------------------------------------------------------------- */

.showcase4 ul a:hover 
{
    position: relative;
    background-image: linear-gradient(rgba(49, 197, 148, 0.83), rgba(19, 40, 228, 0.83));
    z-index: 1;
    opacity: 0.7;
}

/*  ----------------------- Footer'io 'social' icon'ėlių "hover"  --------------------------------------------------- */

.showcase4 img.icon:hover 
{
    position: relative;
    background-image: linear-gradient(rgba(49, 197, 148, 0.83), rgba(19, 40, 228, 0.83));
    z-index: 1;
    opacity: 0.5;
    border-radius: 50%;
}

/* Bandau padaryti "response" apatinei nav - footeriui (soc. užrašams) */

@media  (min-width: 400px) and (max-width: 680px) 
{
.showcase4 
    {
        float: none;
        text-align: center;
        width: 100%;
    }
}







