/* #Media Queries
================================================== */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	nav ul li {
    padding: 10px 15px;
}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	nav ul li {
    padding: 10px 10px;
   }
}


	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
.nav-collapse li {
    text-align: center;
}















/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
		
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {


   }
}